<h1>{{title}}</h1>
<p>{{title}}</p>

<!--eksempel på data-key ændring, med append-->
<P data-key="welcome"> {{title}}</P>


<p data-key="welcome+hbs"></p>

<input type="password" id="inputFeltPassword" class="form-control"
                                   name="Password" placeholder="Adgangskode" data-key="placeholder"><br>
