<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    {{{body}}}

    <script> <!-- tilføj +hbs hvis {{}} er inde i stringen, ellers tilføjer den det der stod bagpå, det nye-->
      let langdata ={"languages": {
            "en": {
                "strings": {
                    "welcome": "Welcome to ",
                    "this": "this is gonna be english",
                    "welcome+hbs": "Welcome to {{title}}"
                }
            },
            "da": {
                "strings": {
                    "welcome": "Velkommen til ",
                    "this": "dette kommer til at være dansk",
                    "welcome+hbs": "Velkommen til {{title}}"
                }
            }
        }
        }
    </script>
    <script src="/javascripts/flerSproget.js"></script>
  </body>
</html>

